<% if current_user %>
  <%= link_to 'News Headlines', news_path, class: "btn btn-primary mb-3" %>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if @posts.any? %>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mt-5">Posts</h1>
      <%= link_to 'New Post', new_post_path, class: "btn btn-primary mb-3" %>
      <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            <h2><%= link_to post.title, post %></h2>
            <p><%= post.body %></p>
            <% if post.user == current_user %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-outline-secondary mr-2" %>
              <%= button_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <nav aria-label="Page navigation">
        <%= will_paginate @posts, class: "pagination justify-content-center mt-4" %>
      </nav>
    </div>
  </div>
</div>
<% else %>
    <p>No posts found.</p>
  <% end %>
