<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="container">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
  <p>By <%= @post.user.email %></p>

  <% if user_signed_in? %>
    <div class="d-flex">
      <% if @post.likes.find_by(user: current_user) %>
        <%= button_to 'Unlike', likes_path(post_id: @post.id), method: :delete, class: "btn btn-danger mr-2" %>
      <% else %>
        <%= button_to 'Like', likes_path(post_id: @post.id), method: :post, class: "btn btn-primary mr-2" %>
      <% end %>
    </div>
  <% end %>

  <h2 class="mt-4">Comments</h2>
  <ul class="list-group">
    <% @post.comments.each do |comment| %>
      <li class="list-group-item"><%= comment.content %> - <%= comment.user.email %></li>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <%= form_with model: [@post, @post.comments.build], local: true do |form| %>
      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-control", rows: 3 %>
      </div>
      <div class="text-center">
        <%= form.submit 'Add Comment', class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
